<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Input Izin</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/icon/account_circle.png" alt="profile-photo" id="profile-photo-small">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <p class="form-label">Jenis Izin</p>
      <ion-select class="form-input" id="jenis_izin" label="">
        <ion-select-option value="cuti_a">Cuti A</ion-select-option>
        <ion-select-option value="cuti_b">Cuti B</ion-select-option>
      </ion-select>

      <p class="form-label">Keterangan</p>
      <div class="form-input"><ion-input type="text" id="keterangan"></ion-input></div>
      
    </ion-list>
    <ion-fab horizontal="center">
      <ion-button id="btn_kirim">Kirim</ion-button>
    </ion-fab><br><br><br>
  </form>
</ion-content>
