@import '../data.scss';

#chart_div{
    color: #f5f5f5;
    margin-left: 1%;
    margin-right: 10%;
}

ul{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 2vh;
}

li{
    margin-left: -3vh;
    margin-bottom: 1vh;
}

ion-list ion-item ion-icon{
    font-size: 50px;
}

ion-item ion-list{
    width: 100%;
    padding: 0;
    margin-left: 1vh;
}

ion-progress-bar {
    border-radius: 9px;
}

.stacked-chart{
    margin-right: 2.5vw;
    margin-left: 2.5vw;

    ion-progress-bar{
        height: 1.8vh;
        margin-left: 0.2vw;
        margin-right: 0.2vw;
    }
}

.absen-item, .absen-item-detail{
    --background: #E8E3E1;
}

.absen-item-detail{
    margin-left: 1.5vh;
}

.item-card{
    padding-top: 1vh;
    padding-bottom: 1vh;
    --inner-border-width: 0;
    border-radius: 8px;
    --background: #E8E3E1;
    background: #E8E3E1;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;

    ion-list{
        background: #E8E3E1;
        ion-progress-bar {
            height: 1vh;
        }
    }
}

.full_color_true{
    color: #719332;
    --progress-background: rgba(113, 147, 50, 1);
}

.cuti_color_true{
    color: #EAA210;
    --progress-background: rgba(234, 162, 16, 1);
}

.tugas_color_true{
    color: #CB631C;
    --progress-background: rgba(203, 99, 28, 1);
}

.error_color_true{
    color: #901F25;
    --progress-background:rgba(144, 31, 37, 1);
}

.full_color_false{
    color: #719332;
    --progress-background: rgba(113, 147, 50, 0.4);
}

.cuti_color_false{
    color: #EAA210;
    --progress-background: rgba(234, 162, 16, 0.4);
}

.tugas_color_false{
    color: #CB631C;
    --progress-background: rgba(203, 99, 28, 0.4);
}

.error_color_false{
    color: #901F25;
    --progress-background:rgba(144, 31, 37, 0.4);
}

.inline{
    display: inline;
}

.bold{
    font-weight: bold;
}