<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Absensi</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/image/pp.png" alt="profile-photo" id="profile_photo_small">
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list>
    <ion-select class="form-input" id="durasi" label="" label-placement="floating" [(ngModel)]="satu_periode" (ionChange)="periode_change()">
      <ion-select-option value='true'>Satu periode</ion-select-option>
      <ion-select-option value='false'>Pilih bulan</ion-select-option>
    </ion-select>
  </ion-list>

  <ion-list *ngIf="show_pilih_bulan">
    <div style="display: flex;">
      <p class="flex1">Dari</p>
      <p style="flex: 0.2;"> </p>
      <p class="flex1">sampai</p>
    </div>
    <div style="display: flex;">
      <ion-input class="form-input flex1" type="month" name="tgl_awal" [(ngModel)]="tgl_awal" min="{{ min_tgl }}" max="{{ max_tgl }}" (ionChange)="tgl_awal_change()"></ion-input>
      <p style="flex: 0.1;"> </p>
      <ion-input class="form-input flex1" type="month" name="tgl_akhir" [(ngModel)]="tgl_akhir" min="{{ min_tgl_akhir }}" max="{{ max_tgl }}" (ionChange)="tgl_akhir_change()"></ion-input>
    </div>
  </ion-list>

  <!-- Stacked Progress Bar -->
  <ion-item class="stacked-chart">
    <ion-progress-bar [value]="1" [style.width.%]="absensi.full" class="inline full_color_{{ full_isActive }}" (click)="showFull()"></ion-progress-bar>
    <ion-progress-bar [value]="1" [style.width.%]="absensi.cuti" class="inline cuti_color_{{ cuti_isActive }}" (click)="showCuti()"></ion-progress-bar>
    <ion-progress-bar [value]="1" [style.width.%]="absensi.tugas" class="inline tugas_color_{{ tugas_isActive }}" (click)="showTugas()"></ion-progress-bar>
    <ion-progress-bar [value]="1" [style.width.%]="absensi.error" class="inline error_color_{{ error_isActive }}" (click)="showError()"></ion-progress-bar>
  </ion-item>

  <ion-list>

    <!-- Absen Full Section -->
    <ion-list class="item-card" *ngIf="full_isActive" (click)="showFull()">
      <ion-item class="absen-item">
        <ion-icon name="checkmark-circle" class="full_color_{{ full_isActive }}"></ion-icon>
        <ion-list>
          <p class="inline bold" id="">{{ this.absensi.full }}%</p>
          <ion-label class="inline"> Absen Full</ion-label>
          <ion-progress-bar [value]="100" class="full_color_{{ full_isActive }}"></ion-progress-bar>
        </ion-list>
      </ion-item>

      <!-- Detail Absen Full -->
      <ion-item class="absen-item-detail" *ngIf="show_detail">
        <ion-list>
          <br>
          <p class="inline bold">{{ this.full_count }}</p>
          <ion-label class="inline"> Hari absen penuh</ion-label>
          <br><br>
        </ion-list>
      </ion-item>
    </ion-list>


    <!-- Cuti Section -->
    <ion-list class="item-card" *ngIf="cuti_isActive" (click)="showCuti()">
      <ion-item class="absen-item">
        <ion-icon name="alert-circle" class="cuti_color_{{ cuti_isActive }}"></ion-icon>
        <ion-list>
          <p class="inline bold" id="">{{ this.absensi.cuti }}%</p>
          <ion-label class="inline"> Cuti</ion-label>
          <ion-progress-bar [value]="100" class="cuti_color_{{ cuti_isActive }}"></ion-progress-bar>
        </ion-list>
      </ion-item>

      <!-- Detail Cuti -->
      <ion-item class="absen-item-detail" *ngIf="show_detail">
        <ion-list>
          <br>
          <p class="inline bold">{{ this.arr_cuti.length }}</p>
          <ion-label class="inline"> Cuti terpakai</ion-label>
          <br><br>
          <ul *ngFor="let item of arr_cuti">
            <li><a (click)="navigateToDetailAbsen(item)"> {{ item }} </a></li>
          </ul>
        </ion-list>
      </ion-item>
    </ion-list>

    <!-- Tugas Section -->
    <ion-list class="item-card" *ngIf="tugas_isActive" (click)="showTugas()">
      <ion-item class="absen-item">
        <ion-icon name="disc" class="tugas_color_{{ tugas_isActive }}"></ion-icon>
        <ion-list>
          <p class="inline bold" id="">{{ this.absensi.tugas }}%</p>
          <ion-label class="inline"> Tugas</ion-label>
          <ion-progress-bar [value]="100" class="tugas_color_{{ tugas_isActive }}"></ion-progress-bar>
        </ion-list>
      </ion-item>

      <!-- Detail Tugas -->
      <ion-item class="absen-item-detail" *ngIf="show_detail">
        <ion-list>
          <br>
          <p class="inline bold">{{ this.arr_tugas.length }}</p>
          <ion-label class="inline"> Jumlah tugas</ion-label>
          <br><br>
          <ul *ngFor="let item of arr_tugas">
            <li><a (click)="navigateToDetailAbsen(item)">{{ item }}</a></li>
          </ul>
        </ion-list>
      </ion-item>
    </ion-list>

    <!-- Absen Error Section -->
    <ion-list class="item-card" *ngIf="error_isActive" (click)="showError()">
      <ion-item class="absen-item">
        <ion-icon name="close-circle" class="error_color_{{ error_isActive }}"></ion-icon>
        <ion-list>
          <p class="inline bold" id="">{{ this.absensi.error }}%</p>
          <ion-label class="inline"> Absen Error</ion-label>
          <ion-progress-bar [value]="100" class="error_color_{{ error_isActive }}"></ion-progress-bar>
        </ion-list>
      </ion-item>

      <!-- Detail Error -->
      <ion-item class="absen-item-detail" *ngIf="show_detail">
        <ion-list>
          <br>
          <p class="inline bold">{{ this.arr_error.length }}</p>
          <ion-label class="inline"> Hari absen bermasalah</ion-label>
          <br><br>
          <ul *ngFor="let item of arr_error">
            <li><a (click)="navigateToDetailAbsen(item)">{{ formatDate(item) }}</a></li>
          </ul>
        </ion-list>
      </ion-item>
    </ion-list>

    <ion-fab horizontal="center">
      <ion-button id="btn_kirim" (click)="navigateToIzin()" *ngIf="!show_detail">Izin</ion-button>
      <ion-button id="btn_kirim" (click)="showAll()" *ngIf="show_detail">Lihat semua</ion-button>
    </ion-fab>
    <br><br><br>
  </ion-list>
</ion-content>
