<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title id="detail_absen_title">Absensi</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/image/pp.png" alt="profile-photo" id="profile_photo_small">
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list class="item-card">
    <ion-item class="absen-item">
      <ion-icon name="{{ icon_name }}" class="{{ icon_color }}"></ion-icon>
        <p class="bold">{{ formatDate(detail_absen.tgl_ijin) }}</p>
    </ion-item>

    <br>

    <ion-item class="absen-item-detail">
      <ion-list>
        <p class="inline bold" *ngIf="!error">No. Ijin: </p>
        <ion-label class="inline" *ngIf="!error">{{ detail_absen.no_ijin }}</ion-label>

        <br *ngIf="!error"><br *ngIf="!error">

        <p class="inline bold" *ngIf="!error">Jenis Ijin: </p>
        <ion-label class="inline" *ngIf="!error">{{ detail_absen.jenis_ijin }}</ion-label>

        <br *ngIf="!error"><br *ngIf="!error">

        <p class="inline bold">Keterangan: </p>
        <ion-label>{{ detail_absen.keterangan }}</ion-label>

        <br *ngIf="!error"><br *ngIf="!error">

        <p class="inline bold" *ngIf="!error">Approve 1: </p>
        <ion-label class="inline" *ngIf="!error">{{ detail_absen.tgl_approve1 }}</ion-label>

        <br *ngIf="!error">

        <p class="inline bold" *ngIf="!error">Approve 2: </p>
        <ion-label class="inline" *ngIf="!error">{{detail_absen.tgl_approve2 }}</ion-label>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
