@import '../absensi.page.scss';

.item-card{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
    border-radius: 8px;
    --background: #E8E3E1;
    background: #E8E3E1;
    margin-bottom: 2vh;
    

    ion-list{
        background: #E8E3E1;
    }
}
