<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title id="detail_absen_title">Detail Absen</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/icon/account_circle.png" alt="profile-photo" id="profile-photo-small">
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list class="item-card">
    <ion-item class="absen-item">
      <ion-icon name="alert-circle" class="cuti_color" id="detail_absen_icon"></ion-icon>
        <p class="bold" id="tanggal">01/03/2024</p>
    </ion-item>

    <br>

    <ion-item class="absen-item-detail">
      <ion-list>
        <p class="inline bold">No. Ijin: </p>
        <ion-label class="inline" id="no_ijin">I00026562009</ion-label>

        <br><br>

        <p class="inline bold">Jenis Ijin: </p>
        <ion-label class="inline" id="jenis_ijin">A. 10 Cuti Tahunan</ion-label>

        <br><br>
        
        <p class="inline bold">Keterangan: </p>
        <ion-label id="keterangan">Liburan ke luar kota</ion-label>

        <br><br>

        <p class="inline bold">Approve 1: </p>
        <ion-label class="inline" id="tanggal_approve1">08/04/2024 </ion-label>
        <ion-label class="inline"> - </ion-label>
        <ion-label class="inline" id="approver1">2139573829</ion-label>

        <br>

        <p class="inline bold">Approve 2: </p>
        <ion-label class="inline" id="tanggal_approve2">08/04/2024 </ion-label>
        <ion-label class="inline"> - </ion-label>
        <ion-label class="inline" id="approver2">yohan</ion-label>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
