<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Organisasi</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/icon/account_circle.png" alt="profile-photo" id="profile-photo-small">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!no_data">
    <ion-list  *ngIf="data_terverifikasi">
      <p>Data terverifikasi</p>
      <ion-item *ngFor="let data of arr_organisasi">
        {{ data.macam_kegiatan}} - {{ data.tahun}}
        <ion-icon name="create-outline" slot="end" (click)="navigateToEdit(data.id)"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="data_belum_terverifikasi">
      <br>
      <p>Data belum terverifikasi</p>
      <ion-item class="unverified" *ngFor="let data of arr_data_belum_terverifikasi" (click)="navigateToEdit(data.id)">
        {{ data.macam_kegiatan}} - {{ data.tahun}}
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <p class="centered-content" *ngIf="no_data">Tidak ada data</p>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="navigateToEdit('')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
