#profile_photo_div{
    text-align: center;
}

#profile_photo {
    width: 30%;
    border-radius: 50%;
}

#profile_photo_small{
    border-radius: 50%;
}

#btn_kirim{
    text-transform: none;
    --background: #8F1F24;
    --background-activated: #8F1F24;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: white;
}


ion-list {
    padding-left: 10%;
    padding-right: 10%;
    --inner-border-width: 0;
}

.form-label {
    margin-bottom: 0%;
}

.form-input {
    border-radius: 8px;
    background: #ebe6e3;
    padding-left: 5%;
    padding-right: 5%;
}

.cb-input {
    --checkmark-color: #8F1F24;
    --size: 40px;
    --background: #ebe6e3;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84%; /* Make sure the container fills the height of its parent */
}

ion-checkbox::part(container) {
    border-radius: 6px;
    background: #ebe6e3;
    border: 8px solid #ebe6e3;
}

ion-fab-button {
    --background: #8F1F24;
    --background-activated: #8F1F24;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: white;
}

ion-tab-bar {
    display: none;
}


ion-progress-bar {
    --background: transparent; /* Remove the default background */
    --progress-background: transparent; /* Remove the default progress background */
    --height: 20px; /* Adjust the height of the progress bar */
    --border-radius: 0; /* Set border radius to 0 to remove rounded corners */
}

.segment1 .bar-progress {
    background-color: #007bff; /* Color for segment 1 */
}

.segment2 .bar-progress {
background-color: #6c757d; /* Color for segment 2 */
}

.segment3 .bar-progress {
background-color: #ffc107; /* Color for segment 3 */
}

.segment4 .bar-progress {
background-color: #28a745; /* Color for segment 4 */
}
