<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Account Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="top-info">
    <img src="../../assets/image/pp.png" alt="profile-photo">
    <h5>Nama</h5>
    <p>Jabatan Posisi</p>
    <p>NIP</p>
  </div>

  <hr>

  <div id="menu">
    Data
    <div id="option-box">
      <ion-list>
        <ion-item routerLink="data-pribadi">
          <img src="../../assets/icon/data-pribadi.svg">
          <ion-label>Pribadi</ion-label>
        </ion-item>
        <ion-item routerLink="data-pekerjaan">
          <img src="../../assets/icon/data-pekerjaan.svg">
          <ion-label>Pekerjaan</ion-label>
        </ion-item>
        <ion-item routerLink="data-lainlain">
          <img src="../../assets/icon/data-lain-lain.svg">
          <ion-label>Lain-lain</ion-label>
        </ion-item>
        <ion-item routerLink="data-training">
          <img src="../../assets/icon/data-training.svg">
          <ion-label>Training</ion-label>
        </ion-item>
        <ion-item routerLink="data-keluarga">
          <img src="../../assets/icon/data-keluarga.svg">
          <ion-label>Keluarga</ion-label>
        </ion-item>
      </ion-list>
    </div>
    
    <br>
    
    Lain-lain
    <div id="option-box">
      <ion-list>
        <ion-item routerLink="pendidikan">
          <img src="../../assets/icon/data-pendidikan.svg">
          <ion-label>Pendidikan</ion-label>
        </ion-item>
        <ion-item routerLink="bahasa-dan-organisasi">
          <img src="../../assets/icon/bahasa&organisasi.svg">
          <ion-label>Bahasa dan Organisasi</ion-label>
        </ion-item>
        <ion-item routerLink="pengalaman-kerja">
          <img src="../../assets/icon/pengalaman-kerja.svg">
          <ion-label>Pengalaman Kerja</ion-label>
        </ion-item>
        <ion-item routerLink="absensi">
          <img src="../../assets/icon/absensi.svg">
          <ion-label>Absensi</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div><br>

</ion-content>
