<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Data Lain-lain</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/icon/account_circle.png" alt="profile-photo" id="profile-photo-small">
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <form>
    <ion-list>
      <p class="form-label">No. KPJ</p>
      <div class="form-input"><ion-input type="number" id="no_kpj"></ion-input></div>

      <p class="form-label">No. HLD</p>
      <div class="form-input"><ion-input type="number" id="no_hld" maxlength="25"></ion-input></div>

      <p class="form-label">No. KTP</p>
      <div class="form-input"><ion-input type="number" id="no_ktp" maxlength="25"></ion-input></div>

      <p class="form-label">No. NPWP</p>
      <div class="form-input"><ion-input type="number" id="no_npwp"></ion-input></div>
            
      <p class="form-label">Potong ASTEK</p>
      <ion-checkbox class="cb-input" id="potong_astek" checked="true"></ion-checkbox>
      
      <p class="form-label">Asuransi</p>
      <div class="form-input"><ion-input value="" id="no_asuransi"></ion-input></div>
      
      <p class="form-label">Kode Wings</p>
      <div class="form-input"><ion-input id="kode_wings"></ion-input></div>

      <p class="form-label">Bank</p>
      <div class="form-input"><ion-input id="bank"></ion-input></div>

      <p class="form-label">No. Kendaraan</p>
      <div class="form-input"><ion-input id="no_kendaraan"></ion-input></div>
      
      <p class="form-label">Jari Bermasalah</p>
      <div class="form-input"><ion-input id="jari_bermasalah" type="number"></ion-input></div>
      
      <p class="form-label">Jumlah SP</p>
      <div class="form-input"><ion-input id="jumlah_sp" type="number"></ion-input></div>

      <p class="form-label">Email</p>
      <div class="form-input"><ion-input id="email" type="email"></ion-input></div>

      <p class="form-label">Catatan</p>
      <div class="form-input"><ion-input id="catatan"></ion-input></div>

      <p class="form-label">Allowed User</p>
      <div class="form-input"><ion-input id="allowed_user"></ion-input></div>
      <br>

    </ion-list>
  </form>
</ion-content>
