<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Pengalaman Kerja</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/icon/account_circle.png" alt="profile-photo" id="profile-photo-small">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="data-pengalaman-kerja">
  </div>

  <p class="centered-content" id="no_data">No Data</p>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button routerLink="../input-pengalaman-kerja">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
