<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/image/pp.png" alt="profile-photo" id="profile_photo_small">
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <p class="form-label">Macam Kegiatan</p>
      <div class="form-input"><ion-input type="text" name="macam_kegiatan" readonly="{{ updatable }}" [(ngModel)]="organisasi.macam_kegiatan"></ion-input></div>

      <p class="form-label">Jabatan</p>
      <div class="form-input"><ion-input type="text" name="jabatan" readonly="{{ updatable }}" maxlength="25" [(ngModel)]="organisasi.jabatan"></ion-input></div>

      <p class="form-label">Tahun</p>
      <div class="form-input"><ion-input type="number" name="tahun" readonly="{{ updatable }}" min="1900" max="2100" [(ngModel)]="organisasi.tahun"></ion-input></div>
    </ion-list>

    <ion-fab horizontal="center">
      <ion-fab-button *ngIf="updatable" id="updateMode">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-alert trigger="updateMode" *ngIf="updatable" class="custom-alert" header="Perbarui data?" [buttons]="update_mode_alert"></ion-alert>

      <ion-button id="btn_kirim" *ngIf="!updatable">{{ btn_kirim }}</ion-button>
      <ion-alert trigger="btn_kirim" *ngIf="!updatable" class="custom-alert" header="Kirim perbaruan data?" [buttons]="send_update_alert"></ion-alert>
    </ion-fab>
  </form>
</ion-content>
