<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Izin</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/image/pp.png" alt="profile-photo" id="profile_photo_small">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="data-izin">
    <ion-list>
      <ion-item *ngFor="let data of arr_izin" (click)="navigateToEdit(data.no_ijin)">
        {{ data.tgl_ijin }}
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <p class="centered-content" *ngIf="no_data">Tidak Ada Data</p>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="navigateToEdit('')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
