<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="profile_photo_div">
    <img src="../../assets/icon/account_circle.png" alt="profile-photo" id="profile_photo">
  </div>

  <form>
    <ion-list>
      <p class="form-label">NIP</p>
      <div class="form-input"><ion-input name="nip" readonly disabled="{{ !updatable }}" [(ngModel)]="data_pribadi.nip"></ion-input></div>

      <p class="form-label">Nama</p>
      <div class="form-input"><ion-input name="nama" readonly disabled="{{ !updatable }}" [(ngModel)]="data_pribadi.nama"></ion-input></div>

      <p class="form-label">Jenis Kelamin</p>
      <ion-select class="form-input dropdown-true" name="jenis_kelamin" label="" disabled="{{ !updatable }}" [(ngModel)]="data_pribadi.jenis_kelamin">
        <ion-select-option value="l">Laki-laki</ion-select-option>
        <ion-select-option value="p">Perempuan</ion-select-option>
      </ion-select>

      <p class="form-label">Alamat KTP</p>
      <div class="form-input"><ion-textarea rows="3" type="text" name="alamat_ktp" readonly="{{ updatable }}" [(ngModel)]="data_pribadi.alamat_ktp"></ion-textarea></div>
            
      <p class="form-label">Alamat Domisili</p>
      <div class="form-input"><ion-textarea rows="3" type="text" name="alamat_domisili" readonly="{{ updatable }}" [(ngModel)]="data_pribadi.alamat_domisili"></ion-textarea></div>
      
      <p class="form-label">No. Handphone</p>
      <div class="form-input"><ion-input type="tel" value="" name="no_hp" readonly="{{ updatable }}" [(ngModel)]="data_pribadi.no_hp"></ion-input></div>
      
      <p class="form-label">Tempat Lahir</p>
      <div class="form-input"><ion-input name="tempat_lahir" readonly="{{ updatable }}" [(ngModel)]="data_pribadi.tempat_lahir"></ion-input></div>
      
      <p class="form-label">Tanggal Lahir</p>
      <div class="form-input"><ion-input type="date" name="tanggal_lahir" readonly="{{ updatable }}" [(ngModel)]="data_pribadi.tgl_lahir"></ion-input></div>

      <p class="form-label">Agama</p>
      <ion-select class="form-input dropdown-{{ updatable }}" name="agama" label="" [(ngModel)]="data_pribadi.agama">
        <ion-select-option value="Islam">Islam</ion-select-option>
        <ion-select-option value="Kristen">Kristen</ion-select-option>
        <ion-select-option value="Katolik">Katolik</ion-select-option>
        <ion-select-option value="Hindu">Hindu</ion-select-option>
        <ion-select-option value="Budha">Budha</ion-select-option>
        <ion-select-option value="Konghucu">Konghucu</ion-select-option>
      </ion-select>
      
      <p class="form-label">Status Nikah</p>
      <ion-select class="form-input dropdown-{{ updatable }}" name="status_nikah" label="" [(ngModel)]="data_pribadi.status_nikah">
        <ion-select-option value="0">Belum Nikah</ion-select-option>
        <ion-select-option value="1">Menikah</ion-select-option>
      </ion-select>
      
      <p class="form-label" *ngIf="jumlah_anak">Jumlah Anak</p>
      <div class="form-input"><ion-input type="number" name="jumlah_anak" min="0" *ngIf="jumlah_anak" readonly="{{ updatable }}" [(ngModel)]="data_pribadi.jumlah_anak"></ion-input></div>
      
      <p class="form-label">Pendidikan Terakhir</p>
      <ion-select class="form-input dropdown-{{ updatable }}" name="pendidikan_terakhir" label="" [(ngModel)]="data_pribadi.pendidikan_terakhir">
        <ion-select-option value="SMA">SMA</ion-select-option>
        <ion-select-option value="D3">D3</ion-select-option>
        <ion-select-option value="S1">S1</ion-select-option>
        <ion-select-option value="S2">S2</ion-select-option>
        <ion-select-option value="S3">S3</ion-select-option>
      </ion-select>
    </ion-list>
  </form>

  <ion-fab horizontal="center">
    <ion-fab-button *ngIf="updatable" id="updateMode">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-alert trigger="updateMode" *ngIf="updatable" class="custom-alert" header="Perbarui data?" [buttons]="update_mode_alert"></ion-alert>

    <ion-button id="btn_kirim" *ngIf="!updatable">Kirim</ion-button>
    <ion-alert trigger="btn_kirim" *ngIf="!updatable" class="custom-alert" header="Kirim perbaruan data?" [buttons]="send_update_alert"></ion-alert>
  </ion-fab>

</ion-content>
