<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>

    <ion-buttons slot="end">
      <img src="../../assets/icon/account_circle.png" alt="profile-photo" id="profile-photo-small">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <p class="form-label">Nama</p>
      <div class="form-input"><ion-input type="text" name="nama" maxlength="25" readonly="{{ updatable }}" [(ngModel)]="data_keluarga.nama" required></ion-input></div>

      <p class="form-label">Hubungan</p>
      <ion-select class="form-input dropdown-{{ updatable }}" name="hubungan_keluarga" label="" [(ngModel)]="data_keluarga.hubungan" required>
        <ion-select-option value="Ayah">Ayah</ion-select-option>
        <ion-select-option value="Ibu">Ibu</ion-select-option>
        <ion-select-option value="Saudara">Saudara</ion-select-option>
        <ion-select-option value="Lainnya">Lainnya (Isikan di keterangan)</ion-select-option>
      </ion-select>

      <p class="form-label">Jenis Kelamin</p>
      <ion-select class="form-input dropdown-{{ updatable }}" name="jenis_kelamin_keluarga" label="" [(ngModel)]="data_keluarga.jenis_kelamin" required>
        <ion-select-option value="l">Laki-laki</ion-select-option>
        <ion-select-option value="p">Perempuan</ion-select-option>
      </ion-select>

      <p class="form-label">Tanggal Lahir</p>
      <div class="form-input"><ion-input type="date" name="tanggal_lahir_keluarga" readonly="{{ updatable }}" [(ngModel)]="data_keluarga.tgl_lahir" required></ion-input></div>

      <p class="form-label">Tempat Lahir</p>
      <div class="form-input"><ion-input name="tempat_lahir_keluarga" readonly="{{ updatable }}" [(ngModel)]="data_keluarga.tempat_lahir" required></ion-input></div>

      <p class="form-label">Pendidikan</p>
      <ion-select class="form-input dropdown-{{ updatable }}" name="pendidikan_keluarga" label="" [(ngModel)]="data_keluarga.pendidikan" required>
        <ion-select-option value="SD">SD</ion-select-option>
        <ion-select-option value="SMP">SMP</ion-select-option>
        <ion-select-option value="SMA">SMA</ion-select-option>
        <ion-select-option value="D3">D3</ion-select-option>
        <ion-select-option value="S1">S1</ion-select-option>
        <ion-select-option value="S2">S2</ion-select-option>
        <ion-select-option value="S3">S3</ion-select-option>
      </ion-select>

      <p class="form-label">Keterangan</p>
      <div class="form-input"><ion-input type="text" name="keterangan" readonly="{{ updatable }}" [(ngModel)]="data_keluarga.keterangan"></ion-input></div>
    </ion-list>

    <ion-fab horizontal="center">
      <ion-fab-button *ngIf="updatable" id="updateMode">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-alert trigger="updateMode" *ngIf="updatable" class="custom-alert" header="Perbarui data?" [buttons]="update_mode_alert"></ion-alert>

      <ion-button id="btn_kirim" *ngIf="!updatable">{{ btn_kirim }}</ion-button>
      <ion-alert trigger="btn_kirim" *ngIf="!updatable" class="custom-alert" header="Kirim perbaruan data?" [buttons]="send_update_alert"></ion-alert>
    </ion-fab>
  </form>
</ion-content>
